<form method='POST'>
{{ change_password_form.hidden_tag() }} <!-- 此项与CSRF功能有关，不可省略 -->
<div class="form-group">
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <span class="input-group-addon">{{ change_password_form.get_old_password_label() }}</span>
                {{ change_password_form.old_password(type="text",class="form-control") }}
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <span class="input-group-addon">{{ change_password_form.get_new_password_label() }}</span>
                {{ change_password_form.new_password(class="form-control") }}
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <span class="input-group-addon">{{ change_password_form.get_new_password_verify_label() }}</span>
                {{ change_password_form.new_password_verify(class="form-control") }}
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-lg-3">
            {{ change_password_form.submit(class="form-control btn btn-success",value=change_password_form.get_submit_label()) }}
        </div>
    </div>
</div>
</form>